<div class="container">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">

      <%= simple_form_for([@user, @profile]) do |f| %>
      <% if @profile.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
        <ul>
          <% @profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="field">
        <%= f.input :fname %>
        <%= f.input :lname %>
        <%= f.input :description %>
        <%= f.input :city %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>

      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
      <% end %>

    </div>
  </div>
</div>
