<div class="media">
  <div class="media-body">
    <div class="jumbotron text-center">
      <div class="media-section">
        <%= image_tag @profile.photo.url(:bright_face) , class: "avatar-large" %>
        <h2><%= @profile.fname %> <%= @profile.lname%></h2>
        <ul class='list-unstyled'>
          <li>First Name: <%= @profile.fname %></li>
          <li>Last Name: <%= @profile.lname %></li>
          <li>E-mail: <%= current_user.email %></li>
          <li>City: <%= @profile.city %></li>
          <li>Description: <%= @profile.description%></li>
        </ul>
      </div>
    </div>


    <div class="media-section">

    </div>
    <div class="media-aside text-center">
      <div class="media-section jumbotron">
        <% if(@profile.user.flats.count > 0) %>
        <h2>My Flats</h2>
        <% @flats.each do |flat| %>
        <% flat.photos.each do |photo| %>
        <%= cl_image_tag photo.cloudinary, height: 100, width: 100, crop: :fill %><br>
        <p><%= flat.city %></p>
        <% end %>
        <% end %>

        <%else%>

        <h2>Want to rent your room?</h2>

        <%= link_to "Create an Ad", new_flat_path, class:"btn btn-warning", type:"button" %>

        <% end %>
      </div>
      <div class="media-section jumbotron">
        <h2>My upcoming Trips:</h2>
        <% if (current_user.bookings.count > 0) %>

        <% @bookings.each do |booking| %>
        <% booking.flat.photos.each do |photo| %>
        <%= cl_image_tag photo.cloudinary, height: 100, width: 100, crop: :fill %><br>
        <% end %><br>
        Check in    <%= booking.check_in %><br>
        Check out   <%= booking.check_out %>
        <% end %>
        <%else%>
        <p>You don't have trips booked.</p>
        <% end %>
      </div>

    </div>
  </div>
</div>
