<div class="media">
  <div class="media-body">
    <div class="media-section">
      <h2><%= image_tag @profile.photo.url(:bright_face) , id: "avatar" %>
        <%= @profile.fname %> <%= @profile.lname%></h2>
      </div>

      <div class="media-section">
        <h2>Description</h2>
        <%= @profile.fname %>'s listing:
      </div>
      <div class="media-section">

      <% @flats.each do |flat| %>
        <% flat.photos.each do |photo| %>
          <%= cl_image_tag photo.cloudinary, height: 100, width: 100, crop: :fill %><br>
          <p><%= flat.city %></p>
        <% end %>
      <% end %>


      ---------------------------------------------------------------

      My upcoming Trips:

      <% @bookings.each do |booking| %>
        <% booking.flat.photos.each do |photo| %>
          <%= cl_image_tag photo.cloudinary, height: 100, width: 100, crop: :fill %><br>
        <% end %><br>
        Check in    <%= booking.check_in %><br>
        Check out   <%= booking.check_out %>

      <% end %>

      </div>
    </div>
  </div>

