<h1>Flats available in <%= @city %></h1>

<div class="container">
  <div class="row">

    <% @flats.each do |flat| %>
    <div class="col-xs-12 col-md-4">
      <%= link_to flat_path(flat) do %>
      <div class="card" style="background-image: url('<%= image_url flat.photos.first.try(:cloudinary) %>');" >
        <div class="card-category"><%= flat.price %>€</div>
        <div class="card-description"> <%= flat.address %> </div>

        <img class="card-user avatar avatar-large" src=" <%= flat.user.profile.photo %> ">
      </div>

      <% end %>
    </div>
    <% end %>
  </div>
</div>

<div id="map" style="width: 400px; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>
